<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PsInvokeDb.MainConnection" providerName="Oracle.DataAccess.Client" connectionString="Data Source=SAMPLEDB;User Id=/" />
    <add name="PsInvokeDb.AuxConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SAMPLEDB;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="PsInvokeDb.MainPackage" value="SCHEMA.PACKAGE." />
  </appSettings>
</configuration>